<div class="container">
    <footer class="footer">
        <div id="kt_app_footer" class="app-footer">
            <div class="container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted fw-semibold me-1">
                        <script>document.write(new Date().getFullYear())</script> ©
                    </span>
                    <a href="https://silkwaytransit.kz/" target="_blank"
                        class="text-gray-800 text-hover-primary">Developed by Amal</a>
                </div>
                <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                    <li class="menu-item"><a href="#" target="_blank" class="menu-link px-2">О нас</a></li>
                    <li class="menu-item"><a href="#" target="_blank" class="menu-link px-2">Поддержка</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>