{% extends 'base.html' %}

{% block content %}
<div class="w-50 mx-auto my-6 p-6 bg-body-secondary rounded-2">
    <h1 class="mb-6 fs-3 text-center">Войти</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="d-inline-block mb-2">Логин</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="d-inline-block mb-2">Пароль</label>
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field.errors %}
            <div class="mb-3 p-6 bg-danger">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button type="submit" class="px-6 py-3 fw-bold fs-4 text-white button-bg rounded">Войти</button>
    </form>
</div>
{% endblock %}